*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gray-100: #f8f9fa;
    --gray-300: #e3e3e3;
    --gray-500: #bdbdbd;
    --gray-800: #3d3d3d;
    --gray-900: #262626;
    --gray-text-color: #838383;
    --logo-color: #111;
}

body{
    font-family: 'Bebas Neue', sans-serif;
}

.container{
    width: 100vw;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

   
}

.container-header{
    background-color: var(--gray-800);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}

.container-image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-image > img{
    max-width: 80px;
    height: auto;  
}

.container-nav {
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100vw;
    border-top: 1px solid var(--gray-500);
}
.container-nav > nav > ul{
    list-style-type: none;
    display: flex;
    padding-top: 10px;
}
.container-nav > nav > ul > li {
    margin: 0 15px;
    font-size: 1.25rem;
}

.container-nav > nav > ul > li > a {
    text-decoration: none;
    color: var(--gray-100);
}

.container-nav > nav > ul > li > a:hover {
    color: #FF5733; /* Altere a cor desejada para o hover */
}
  
.container-context{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--gray-300);
    padding: 20px;
}

.image {
  flex-grow: 1;
  flex-basis: 20%;
}

.image > img{
    max-width: 100%; 
}


.container-description{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 80%;
    gap:40px;  
    height: 100%; 
}

.container-description > h1{
    font-size: 1.5rem;
    color: var(--gray-900);
}

.container-description > p{
    font-size: 1rem;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .image > img {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .container-description > h1,
  .container-description > p {
    animation: slideIn 1s ease-in-out;
  }
  

.container-footer{
    background-color: var(--gray-800);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-100);
}

.footer-paragraph{
    padding: 10px;
    font-size: 1rem;
}

.footer-icons{
    width: 100px;
    display: flex;
    justify-items: center;
    gap: 10px;
}

.footer-icons > a > img{
    width: 100%;
}

