*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --withe-:#FFFFFF;
      --gray-500: #bdbdbd;
      --bg-hearder:#000000;
      --bg-footer:#000000;
      --nav-hover:  rgb(255, 10, 18);
  }
  
  
  body{
    background-color: var(--white-);
    font-family: 'Bebas Neue', sans-serif;
  }
  
    .container-header{
      background-color: var(--bg-hearder);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
     
  }
  .container-image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-image > img{
    max-width: 80px;
    height: auto;  
}

.container-nav {
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100vw;
    border-top: 1px solid var(--gray-500);
}
.container-nav > nav > ul{
    list-style-type: none;
    display: flex;
    padding-top: 10px;
}
.container-nav > nav > ul > li {
    margin: 0 15px;
    font-size: 20px;
}

.container-nav > nav > ul > li > a {
    text-decoration: none;
    color: var(--withe-);
}

.container-nav > nav > ul > li > a:hover {
    color: #FF5733; /* Altere a cor desejada para o hover */
}


.container-context{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--withe-);
    padding: 20px;
}




.container-description{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 80%;
    gap:40px;  
    height: 100%; 
}

.container-description > h1{
    font-size: 1.5rem;
    color: var(--gray-900);
}

.container-description > p{
    font-size: 1rem;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .image > img {
    animation: fadeIn 0.6s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .container-description > h1,
  .container-description > p {
    animation: slideIn 0.6s ease-in-out;
  }

  footer {
    background-color: black;
    height: 324px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer svg {
    width: 180px;
    height: 60px;
  }
  
  .nav__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .nav__container a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }
  
  footer h3 {
    color: white;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 69px;
    font-weight: 700;
    line-height: 150%;
  }
  
  .social__container nav {
    display: flex;
    gap: 25px;
  }
  
  .social__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .nav__container a {
    transition: all 0.3s ease;
  }
  
  .nav__container a:hover {
    color: #ff0000;
  }
  
  .social__container a:hover img {
    filter: brightness(50%);
  }