*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --withe-:#FFFFFF;
    --gray-500: #bdbdbd;
    --bg-hearder:#000000;
    --bg-footer:#000000;
    --nav-hover:  rgb(255, 10, 18);
}


body{
  background-color: var(--white-);
  font-family: 'Bebas Neue', sans-serif;
}

  .container-header{
    background-color: var(--bg-hearder);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}

.container-text{
  display: flex;
  padding: 0 140px 0 140px;
}

.container-text > input{
  width: max-content;
  border: none;
  height: auto;
  background-color: var(--white-);
  border-bottom: 2px solid black;
  font-size: 1rem;
}

.container-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem ;
}

.container-image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container-image > img{
    max-width: 80px;
    height: auto;  
}

.container-nav {
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100vw;
    border-top: 1px solid var(--withe-);
}
.container-nav > nav > ul{
    list-style-type: none;
    display: flex;
    padding-top: 10px;
}
.container-nav > nav > ul > li {
    margin: 0 15px;
    font-size: 20px;
}

.container-nav > nav > ul > li > a {
    text-decoration: none;
    color: var(--withe-);
}

.container-nav > nav > ul > li > a:hover {
    color: #FF5733; /* Altere a cor desejada para o hover */
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: #262626;
  }


  .card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 15px;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ed1d24;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

button:hover {
  background-color: #cc0000;
}

footer{
  background-color: var(--bg-footer);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--withe-);
}

.footer-paragraph{
  padding: 10px;
  font-size: 1rem;
}

.footer-icons{
  width: 100px;
  display: flex;
  justify-items: center;
  gap: 10px;
}

.footer-icons > a > img{
  width: 100%;
}

.footer-paragraph{
  padding: 10px;
  font-size: 1rem;
}

.footer-icons{
  width: 100px;
  display: flex;
  justify-items: center;
  gap: 10px;
}

.footer-icons > a > img{
  width: 100%;
}