*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #202020;
    padding: 10px;
    text-align: center;
}

#logo {
    width: 200px;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    border-bottom: 2px solid white;
}

.marvel-background {
    background: url('marvel-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 500px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
    text-align: center;
}

.marvel-background h1 {
    font-size: 3em;
}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 15px;
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }

  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ed1d24;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


  footer {
    background-color: #202020;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
  
}