@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.cabecalho {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 90px;
}

.cabecalho__logo {
  backdrop-filter: blur(5px);
}

.logo {
  width: 60px;
  justify-content: space-between;
  display: flex;
  margin: 34px 0 34px 150px;
}

.logo h2 {
  width: 23px;
  height: 19px;
}

.cabecalho__logo {
  margin: 22.5px 0 22.5px 0;
}

.container__navbar {
  display: flex;
  width: 100%;
  height: 100%;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.menu__lista {
  margin: 35px 150px 25px 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.menu__lista li a {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: black;
  transition: color 0.3s ease;
}

.menu__lista li a:hover {
  color: #e62429;
}

.menu__link {
  margin-right: 1.25rem;
  text-decoration: none;
  text-transform: lowercase;
}

.menu__item:last-child .menu__link {
  margin-right: 0;
}

.background__page {
  height: 100%;
  width: 100%;
}

.video__container {
  position: relative;
}

.video__container video {
  width: 100%;
  height: 850px;
  object-fit: cover;
}

.text__overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 150px 0 150px;
  top: 150px;
  left: 0;
  color: white;
}

.paragraph__overlay {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.title__overlay {
  font-size: 3rem;
  font-size: 70px;
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: 700;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__overlay {
  border-radius: 25px;
  width: 250px;
  height: 60px;
  background: #e62429;
  border: none;
  color: white;
  font-size: 18px;
}

.button__overlay a {
  text-decoration: none;
  color: white;
}

.button__overlay:hover {
  transform: scale(1.1);
  background-color: #ff0000;
}

.comics__container {
  width: 100%;
  height: 100%;
}

.comics__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 100px;
  text-align: center;
}

.comics__title p {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #e62429;
}

.comics__title h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: black;
}

.list__container {
  display: flex;
  list-style: none;
  padding: 0 100px 0 100px;
  gap: 40px;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width: 10px;
  margin-bottom: 100px;
}

.carrossel__item {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
}

.carrossel__item p {
  color: #e62429;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 10px;
  text-align: center;
}

.list__container::-webkit-scrollbar {
  height: 5px;
}

.list__container::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e62429;
}

.list__container::-webkit-scrollbar-track {
  background: #ededed;
}

.person__container {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 380px) {
  .background__page {
    height: 100%;
    width: 100%;
  }

  .container__rewards .logo__rewards {
    width: 228px;
  }

  .container__rewards .paragraph__rewards {
    display: none;
  }

  .text__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0;
    height: 500px;
  }

  .container__rewards {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .title__rewards {
    margin: 0 auto;
  }

  .logo__rewards {
    position: absolute;
    left: 80px !important;
  }

  .person__container {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column;
    height: 50% !important;
  }
}

@media screen and (min-width: 768px) {
  .container__rewards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .person__container {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
  }

  .container__rewards .paragraph__rewards {
    display: block;
  }

  .logo__rewards {
    margin: 0 auto;
    position: absolute;
    left: 26px !important;
  }
}

@media screen and (min-width: 1024px) {
  .container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 339px !important;
  }

  .container__rewards .logo__rewards {
    width: 400px;
    position: absolute;
    right: 65% !important;
  }

  .container__rewards .paragraph__rewards {
    display: block;
  }

  .person__container {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
  }

  .container__rewards {
    align-items: baseline !important;
  }

  footer {
    background-color: black;
    height: 324px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .container__rewards svg {
    width: 894px;
    height: 667px;
  }
}

.comics__card {
  width: 200px;
  height: 300px;
  border: 1px solid #fff;
  box-shadow: 10px 10px 10px 0px rgba(12, 11, 11, 0.15);
}

.comics__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.comics__card:hover {
  -webkit-animation: shadow-drop-2-center 0.6s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: scale-up-center 0.6s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
}

.container__rewards {
  position: relative;
  color: #e62429;
  width: 100%;
}

.title__rewards {
  position: absolute;
  top: -80px;
  padding: 150px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  line-height: 100%;
  font-size: 26px;
  font-style: normal;
}

.paragraph__rewards {
  position: absolute;
  top: 30%;
  bottom: 0;
  padding: 150px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.logo__rewards {
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 150px;
}

.logo__heroes {
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 99.4%;
}

.dev__container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.dev__button {
  border-radius: 25px;
  width: 250px;
  height: 60px;
  background: #e62429;
  border: none;
  color: white;
  margin-left: 80px;
}

.photo {
  width: 220px;
  height: 210px;
}

.artist__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.artist__card p {
  color: #e62429;
  margin-bottom: 80px;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

footer {
  background-color: black;
  height: 324px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer svg {
  width: 180px;
  height: 60px;
}

.nav__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav__container a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}

footer h3 {
  color: white;
  font-size: 18px;
  font-style: normal;
  margin-bottom: 69px;
  font-weight: 700;
  line-height: 150%;
}

.social__container nav {
  display: flex;
  gap: 25px;
}

.social__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav__container a {
  transition: all 0.3s ease;
}

.nav__container a:hover {
  color: #ff0000;
}

.social__container a:hover img {
  filter: brightness(50%);
}
